// header section
.menu-container {
  @include FlexRow;
  text-align: center;
  align-items: center;
}
.header-nav-bar {
  background-color: var(--color-black);
  width: 160rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}

.header-nav-bar ul {
  list-style: none;
  display: flex;
}

.header-nav-bar ul li {
  padding: 10px 30px;
  position: relative;
}

.header-nav-bar ul li a {
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 1rem;
}

.header-nav-bar ul li a:hover {
  border-radius: 1rem;
  background-color: var(--gray-color);
  padding: 1rem;
}

.sub-menu-1 {
  display: none;
}

.header-nav-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--gray-color);
  border-radius: 2rem;

  :last-child {
    border-bottom: none;
  }
}

.header-nav-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.header-nav-bar li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid var(--white-color);
}

.sub-menu-1 {
  display: none;
}

.sub-menu-1 ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.header-search-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  margin: 1rem 2rem;
  align-items: center;

  i {
    font-size: 2rem;
    color: var(--white-color);
  }
}

.header-wallet {
  @include FlexRow;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue-color);
  border-radius: 2rem;
  padding: 0.5rem 4rem;

  &:hover {
    box-shadow: 0px 0px 10px var(--blue-color);
  }

  p {
    margin-left: 1rem;
    color: var(--white-color);
    font-size: 1.5rem;
  }
}

.switch-mode {
  @include FlexRow;
  justify-content: flex-end;
  margin: 0;

  img {
    margin: 0 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .dark-mood {
    height: 5rem;
  }
}
.hero-header {
  @include FlexColumn;
  background-image: url("/images/bg-.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit-profile {
  @include FlexColumn;
  margin: 8rem 0;
  h3 {
    font-size: 5rem;
    color: var(--white-color);
  }

  span {
    color: var(--gray-color);
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  p {
    color: var(--white-color);
  }
}
.edit-profile-text {
  color: var(--white-color) !important;
}
.header-profile-detail {
  @include FlexRow;
  align-items: center;
}

.header-profile-image img {
  width: 60%;
  border-radius: 1rem;
}
.header-profile-detail .fa-bell {
  background-color: var(--gray-color);
  border-radius: 1rem;
  padding: 0.8rem;
  position: relative;
}

.header-profile-notification {
  background-color: var(--red-color);
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  padding: 0.8rem;
  position: absolute;
  right: 250px;
  top: 10px;
  display: flex;
  text-align: center;
  align-items: center;

  p {
    font-size: 1.3rem;
    color: var(--white-color);
  }
}

/////////// grid section
.main-container {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 8rem;
}
.profile-rt {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
}
.profile-card {
  @include FlexColumn;
  justify-content: center;
  align-items: center;
}
.choose-profile-cover {
  @include FlexColumn;
  justify-content: flex-start;

  h3 {
    margin: 2rem 3rem 0 3rem;
  }
}

.profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;

  h3 {
    font-size: 2.5rem;
    color: var(--white-color);
  }
}

.form-container {
  @include FlexColumn;
}

.input-container {
  @include FlexColumn;
  width: 100%;
}
.card-detail {
  @include FlexColumn;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  height: 40rem;
  border-radius: 2rem;
  margin: 2rem;
  background-color: var(--gray-color);

  img {
    width: 85%;
    border-radius: 2rem;
    margin: 1rem 2rem 0 2rem;
  }

  button {
    width: 75%;
    border-radius: 2rem;
    background: transparent;
    padding: 1.4rem;
    margin: 1rem 1rem;
    border: 1px solid var(--white-color);
    color: var(--white-color);

    &:hover {
      box-shadow: 0px 0px 10px var(--darkGray-color);
      background-color: var(--white-color);
      color: var(--black-color);
      transition: ease-in-out 0.2s;
      cursor: pointer;
    }
  }
}

.upload-photo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.upload-file-header {
  color: var(--white-color);
  font-size: 1.8rem;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  text-align: center;
  // grid-column: 1/2;
  // grid-row: 1/-1;
}
.image-file-1 img {
  width: 20rem;
  border-radius: 2rem;
  padding: 0.3rem;

  &:hover {
    border: 2px solid var(--purple-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
}
.image-file-2 img {
  width: 20rem;
  border-radius: 2rem;
  padding: 0.3rem;

  &:hover {
    border: 2px solid var(--purple-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
}

.upload-file {
  @include FlexRow;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 10rem;
  border: 1px solid var(--white-color);
  border-radius: 2rem;
}

.dropzone {
  min-height: 50px !important;
  width: 55%;
  border-radius: 2rem !important;
  background: transparent !important;
  padding: 1.4rem !important;
  margin: 1rem 1rem !important;
  border: 1px solid var(--white-color) !important;
  color: var(--white-color) !important;
}
.account-info {
  @include FlexColumn;
  justify-content: flex-start;

  h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.first-name,
.last-name,
.email,
.bio {
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 200;
  margin: 1rem 0;
}
#fname,
#lname,
#bio-input {
  width: 100%;
  border-radius: 1rem;
  background: transparent;
  color: var(--white-color);
  border: 1px solid var(--gray-color);
  padding: 1rem;
  margin-bottom: 2rem;
  outline: none;
}

.update-profile {
  display: flex;
  align-items: center;
  width: 100%;

  button {
    padding: 2rem;
    background: transparent;
    border: 1px solid var(--white-color);
    border-radius: 2rem;
    color: var(--white-color);
    cursor: pointer;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 10px var(--blue-color);
    }
  }
}

.facebook,
.twitter,
.discord {
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 200;
  margin: 1rem 0;
}
#facebook,
#twitter,
#discord {
  width: 100%;
  border-radius: 1rem;
  background: transparent;
  border: 1px solid var(--gray-color);
  color: var(--white-color);
  padding: 1rem;
  margin-bottom: 2rem;
  outline: none;
}

.facebook-btn,
.twitter-btn,
.discord-btn {
  width: 55%;
  padding: 1rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 1.5rem;
  border-radius: 2rem;
  border: none;
  &:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
  }

  i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}
////////////////////////////////////////////
// footer section
.footer {
  background-color: var(--black-color);
  margin-top: 5rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.footer-logo {
  @include FlexColumn;

  p {
    color: var(--gray-color);
    font-size: 1.5rem;
    margin: 0 3rem;
  }

  img {
    width: 133px;
    margin: 0 3rem;
  }
}

.footer-my-account,
.footer-resources,
.footer-company {
  display: flex;
  justify-content: center;
}
.footer-my-account h3,
.footer-resources h3,
.footer-company h3 {
  font-size: 3rem;
  color: var(--white-color);
}
.footer-my-account li,
.footer-resources li,
.footer-company li {
  color: var(--gray-color);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.subscribe {
  @include FlexColumn;
  margin: 0 3rem;

  h3 {
    font-size: 2.5rem;
    color: var(--white-color);
    margin: 1rem 0;
  }
}
.subscribe-form {
  @include FlexRow;
  border: 1px solid var(--darkGray-color);
  border-radius: 1rem;
  padding: 1rem;

  input {
    width: 100%;
    height: 65px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 1rem;
    margin-bottom: 1rem;

    i {
      @include FlexRow;
      font-size: 4rem;
      background-color: var(--gray-color);
      color: var(--white-color);
      padding: 2rem;
      justify-content: flex-end;
      border-radius: 0 1rem 1rem 0;
    }
  }

  button {
    box-sizing: border-box;
    background-color: var(--darkGray-color);
    width: 30%;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
  }
}
.footer-social-media ul {
  @include FlexRow;

  li {
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: var(--darkGray-color);

    &:hover {
      background-color: var(--gray-color);
    }
  }
}

//////////////////////////////////////
// drag file

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
  margin: 2rem;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
